body {
    font-family: roboto, sans-serif;
}

.header {
    width: 1200px;
    height: 800px;
    padding-top: 5px;
    margin: 0 auto;
}

.wrapper {
    width: 1183px;
    height: 783px;
    margin: 0 auto;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navigator {
    display: flex;
    justify-content: space-between;
}

.menu1 {
    width: 400px;
    height: 80px;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 32px;
}

.menu1__list > a {
    color: #fff;
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;

}

.title__text {
    font-weight: 400;
    font-size: 63px;
    font-style: regular;
    color: #fff;
    line-height: 65.63px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.menu2 {
    width: 400px;
    height: 80px;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 30px;
    padding-left: 195px;
}

.menu2__list > a {
    color: #fff;
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
}

.header__btn {
    width: 200px;
    height: 37px;
    background-color: #1F1E1E;
    color: #fff;
    margin-left: 50px;
    border-radius: 4px;
    border: 1px;
    font-size: 9px;
    align-items: center;
    font-weight: 400;
    line-height: 10px;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.text__bottom {
    width: 420px;
    height: 300px;
    margin-left: 700px;
    padding-left: 120px;
    padding-top: 145px;
}

.title__bottom {
   font-weight: 400;
   font-size: 11px;
   text-transform: uppercase;
   color: #3C3C3C;
   line-height: 16.25px;
   margin-bottom: 20px;
}

.par__bottom {
    font-weight: 400;
    font-size: 9px;
    color: #3C3C3C;
    line-height: 13px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.str__bottom {
    display: flex;
    gap: 100px;
    margin-left: 30px;
}

.book {
    font-weight: 400;
    font-size: 8px;
    text-transform: uppercase;
    color: #1F1E1E;
}

.book1 {
    color: #fff;
    font-weight: 400;
    font-size: 8px;
    text-transform: uppercase;
}