body {
    font-family: roboto, sans-serif;
    background-color: #fff;
    width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
}

.header {
    width: 1200px;
    height: 800px;
    padding-top: 5px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.wrapper {
    width: 1183px;
    height: 783px;
    margin: 0 auto;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navigator {
    display: flex;
    justify-content: space-between;
}

.menu1 {
    width: 400px;
    height: 80px;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 32px;
}

.menu1__list > a {
    color: #fff;
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;

}

.title__text {
    font-weight: 400;
    font-size: 63px;
    font-style: regular;
    color: #fff;
    line-height: 65.63px;
    margin-left: 30px;
    margin-bottom: 50px;
}

.menu2 {
    width: 400px;
    height: 80px;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 30px;
    padding-left: 195px;
}

.menu2__list > a {
    color: #fff;
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
}

.header__btn {
    width: 200px;
    height: 37px;
    background-color: #1F1E1E;
    color: #fff;
    margin-left: 50px;
    border-radius: 4px;
    border: 1px;
    font-size: 9px;
    align-items: center;
    font-weight: 400;
    line-height: 10px;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.text__bottom {
    width: 420px;
    height: 300px;
    margin-left: 700px;
    padding-left: 120px;
    padding-top: 130px;
}

.title__bottom {
   font-weight: 400;
   font-size: 11px;
   text-transform: uppercase;
   color: #3C3C3C;
   line-height: 16.25px;
   margin-bottom: 15px;
}

.par__bottom {
    font-weight: 400;
    font-size: 9px;
    color: #3C3C3C;
    line-height: 13px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.str__bottom {
    display: flex;
    gap: 100px;
    margin-left: 30px;
}

.book {
    font-weight: 400;
    font-size: 8px;
    text-transform: uppercase;
    color: #1F1E1E;
}

.book1 {
    color: #fff;
    font-weight: 400;
    font-size: 8px;
    text-transform: uppercase;
}

.main__description {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-self: center;
    gap: 60px;
    margin-bottom: 50px;
}

.main__achive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.num {
    font-size: 18px;
    font-weight: 400;
    font-style: Regular;
    color: #3C3C3C;
    line-height: 27.5px;
}

.text__sale {
    font-size: 9px;
    font-weight: 400;
    color: #3C3C3C;
    line-height: 13.75px;
    text-transform: uppercase;
}

.title2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 125px;
    font-weight: 400;
}

.main__galary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
    justify-items: center;
    margin-bottom: 60px;

}

.ceil {
    font-weight: 400;
    font-size: 9px;
    text-transform: uppercase;
    color: #3C3C3C;
    padding-left: 35px;
    margin-top: 20px;
}

.name {
    text-align: center;
    font-size: 9px;
    font-weight: 400;
    line-height: 9.17;
    text-transform: uppercase;
    width: 167px;
    height: 50px;
    color: #3C3C3C;
}

.cail1 {
    width: 167px;
    color: #3C3C3C;
    font-size: 9px;
    font-weight: 400;
    line-height: 13px;
    text-align: center;
    text-transform: uppercase;
}

.main__btn {
    margin-left: 531px;
    width: 139px;
    height: 37px;
    color: #fff;
    background-color: #1F1E1E;
    border-radius: 4px;
    border: 1px;
    font-size: 9px;
    text-transform: uppercase;
    line-height: 9px;
    margin-bottom: 110px;
}

.small__text {
    margin-left: 550px;
    font-weight: 400;
    font-size: 9px;
    text-transform: uppercase;
    color: #3C3C3C;
    margin-bottom: 50px;
}

.nme {
    font-size: 9px;
    font-weight: 400;
    color: #3C3C3C;
    text-align: center;
}

.main__aboutas {
    width: 681px;
    height: 230;
    margin: 0 auto;
}

.about {
    font-weight: 400;
    font-size: 38px;
    font-style: Regular;
    color: #1F1E1E;
    line-height: 45px;
}


.no3 {
    margin-top: 50px;
    width: 1200px;
    
}

.no3__interior {
    display: flex;
    gap: 6px;
    width: 1100px;
    margin: 0 auto; 
}

.mini-title {
    font-weight: 400;
    font-size: 52px;
    width: 439px;
    height: 175px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.no3__description {
    width: 546px;
    height: 546px;
    
    padding-top: 100px;
    background-color: #F4EDE6;
    color: #425E44;
}

.zero {

}

.bigwords {
    text-align: center;
    padding-top: 50px;
    font-weight: 400;
    font-size: 192px;
    color: 1F1E1E;
    line-height: 201px;
    margin-bottom: 50px;
}

 .plus {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 21px;
    color: #1F1E1E;
}

.minus {
    margin-bottom: 50px;
}


.new-btn {
    width: 127px;
    height: 37px;
    background-color: #1F1E1E;
    color: #fff;
    border-radius: 4px;
    border: 1px;
    margin-left: 537px;
    font-weight: 400;
    font-size: 9px;
    text-transform: uppercase;
    line-height: 9px;
    margin-bottom: 60px;
}

.wrapper__text-box {
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    display: flex;
    justify-content: space-between;
}

